The content below is only a placeholder and can be replaced.
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <img src="assets/images/vs.png" alt="Logo" style="width:50px;">
    <span>Vaishnavi Sureddi</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#features" aria-controls="features" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="features">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profile1">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profile2">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profile3">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profile4">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profile5">Interests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profile6">Achievements</a> 
      </li>
    </ul>
  </div> 
</nav>

<div id="profile1" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <div class="card mx-auto" style="width:300px">
    <img class="card-img-top" src="assets/images/vsportrait.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Vaishnavi Sureddi</h4>
      <p class="card-text">Vaishnavi is a student at UNCC</p>
    </div>
  </div>
  <div class="center">
    <a href="https://www.linkedin.com/in/vaishnavi-sureddi-06978514a" target="_blank" class="fa fa-linkedin"></a>
    <a href="mailto:vsureddi@uncc.edu" class="fa fa-google"></a>
    <a href="https://www.facebook.com/vaishnavi.sureddi.7" target="_blank" class="fa fa-facebook"></a>
  </div>  
</div>
<div id="profile2" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1>Experience</h1>
  <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div>
<div id="profile3" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1>Education</h1>
  <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div>
<div id="profile4" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1>Skills</h1>
  <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div>
<div id="profile5" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1>Interests</h1>
  <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div>
<div id="profile6" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1>Achievements and Certifications</h1>
  <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
</div> -->

<!-- A vertical navbar -->
<nav class="navbar bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>

</nav>